@import url(./header.css);
@import url(./main.css);
@import url(./we_create.css);
@import url(./video.css);
@import url(./who_is.css);
@import url(./want_program.css);
@import url(./welcome.css);
@import url(./salary.css);
@import url(./photos.css);
@import url(./academy_course.css);
@import url(./teachers.css);
@import url(./business.css);
@import url(./cv.css);
@import url(./reviews.css);
@import url(./faq.css);
@import url(./form_footer.css);
@import url(./footer.css);
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F6F7F9;
  }
  