%flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    width: auto;
    height: 110px;
    background-color: #00093c;
    position: relative;
    @extend %flex;

    .header_logo__menu {
        display: none;
    }

    .header__logo {
        width: 100px;
        height: 70.646px;
        margin-left: 370px;
    }

    a {
        @include font (white, 14px, 500);
        text-decoration: none;
    }

    .header__nav_main {
        @extend %flex;
        gap: 40px;
        margin-left: 63px;

        .header__nav_courses {
            @extend %flex;
            gap: 6px;
        }
    }

    .header__nav_info {
        color: white;
        @extend %flex;
        gap: 40px;
        margin-left: 68px;

        .header__nav_info_city {
            @extend %flex;
            gap: 9px;
        }

        .header__nav_info_login {
            @extend %flex;
            gap: 9px;
        }
    }

    .header__line {
        position: absolute;
        top: 108px;
        left: 540px;
    }


    @media all and (max-width: 1550px) {
        .header__logo {
            margin-left: 50px;
        }
        .header__line {
            left: 216px;
        }
    }

    @media all and (max-width: 1250px) {
        .header_logo__menu {
            display: block;
            position: absolute;
            top: 39x;
            right: 33px;
        }

        .header__nav_main,
        .header__nav_info,.header__line {
            display: none;
        }
    }
}